@{
    Layout = "~/Views/Shared/_AdminSidebar.cshtml";
}
<link rel="stylesheet" href="~/css/admin/adminView.css?v=@DateTime.Now.Ticks">
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<body>
    <div class="main-content">
        123
    </div>
</body>