@{
    var successMessage = TempData["SuccessMessage"] as string ?? Context.Session.GetString("SuccessMessage");
    var errorMessage = TempData["ErrorMessage"] as string ?? Context.Session.GetString("ErrorMessage");
}
@if (TempData["SuccessMessage"] != null)
{
    <div id="flash-message" class="success-message">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div id="flash-message" class="error-message">
        @TempData["ErrorMessage"]
    </div>
}
<link rel="stylesheet" href="~/css/notification/notification.css?v=@DateTime.Now.Ticks">
<script src="/js/shared/notification.js?v=@DateTime.Now.Ticks" defer></script>